{% extends "_template.html" %}
{% load staticfiles %}
{% load i18n %}

{% block header %} 
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
  <script src="leaflet-dvf.markers.min.js"></script> 
  <style>
    #map {
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;
    }
  </style>
{% endblock %}

{% block content %} 
  <div id="map" style=""> </div>
  <script>
    var map = L.map('map').setView([-22.905833, -47.060833], 13);

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Map data (c) <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
    }).addTo(map);

    Copyright &copy; 2016 <a href="/">Hipsografia</a></strong> {% trans "Todos os direitos reservador" %}.<strong><a href="#"> Paolla Catherine

    {% for school in schoolList %}
      var circle = L.circle([{{ school.latitude }}, {{ school.longitude }}], {{ school.vote }}, {
        {% if school.zone == 33 %}
          color: '#FF0000',
          fillColor: '#FF0000',
        {% elif school.zone == 274 %}
          color: '#FFD700',
          fillColor: '#FFD700',
        {% elif school.zone == 275 %}
          color: '#0000CD',
          fillColor: '#0000CD',
        {% elif school.zone == 378 %}
          color: '#FF1493',
          fillColor: '#FF1493',
        {% elif school.zone == 379 %}
          color: '#FF4500',
          fillColor: '#FF4500',
        {% elif school.zone == 380 %}
          color: '#006400',
          fillColor: '#006400',
        {% endif %}
        fillOpacity: 0.75});
      {% autoescape off %}
        circle.bindPopup("{{ school.name }}");
      {% endautoescape %}
      map.addLayer(circle)
    {% endfor %}
  </script>
{% endblock %}